/*-- scss:defaults --*/
$body-color: #28282b;
$presentation-heading-color: #bc955c;
$font-family-sans-serif: "Noto Sans";
$font-family-monospace: "Noto Sans";
$presentation-heading-font: "Noto Sans";


/*-- scss:rules --*/
// change title color
#title-slide {
  .title {
    color: #ffff;
    font-size: 2.5em;
  }
// change author color
  .quarto-title-author {
    color: #bc955c;
    font-size: 1.5em;
  }
// change affiliation color
  .quarto-title-affiliation {
    color: #bc955c;
  }

  .date {
    color: #ffff;
  }
}


// change h1, h2 color
.reveal h1, h2 {
  color: #691c32;
}

// change footer color
.reveal .footer {
  color: #bc955c;
}

// General styles for all tab links (for the text color)
.panel-tabset-tabby a {
  color: #6f7271;
}


.slide-menu-button {
  color: #ffff;
}

.hamburger-menu-icon {
  /* Change the color of the lines */
  background-color: #ffff;
}
